{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "<APPLE_TEAM_ID>.com.phygify.wearify",
        "components": [
          { "/": "/c/*" },
          { "/": "/register*" }
        ]
      }
    ]
  }
}
