[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.phygify.wearify",
      "sha256_cert_fingerprints": ["<ANDROID_SHA256_CERT_FINGERPRINT>"]
    }
  }
]
